<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlas Frontend</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      media="all" rel="stylesheet"/>
  <link href="src/css/env-dropdown.css" media="all" rel="stylesheet"/>
  <link href="src/css/style.css" media="all" rel="stylesheet"/>

  <link rel="import" href="src/partials/navbar.html">
  <link rel="import" href="src/partials/listing.html">
  <link rel="import" href="src/partials/row.html">
  <link rel="import" href="src/partials/confirm-button.html">
  <link rel="import" href="src/partials/create-code.html">
  <link rel="import" href="src/partials/message-area.html">
</head>
<body>
<div id="atlas-navbar">
  <atlas-navbar
      :routes="routes"
      icons="code"
      :environments="environments">
  </atlas-navbar>
</div>
<div id="app" class="container">
  <div id="code-listing">
    <message-area></message-area>
    <form id="search">
      <div class="form-group">
        <label for="query">Filter Table</label>
        <input id="query" class="form-control" name="query" v-model="searchQuery">
      </div>
    </form>
    <listing
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
        :callback="callback"
        :extra-content="rowViewContent"
        :edit-keys="editKeys"
        :select-keys="selectKeys">
    </listing>
    <create-code v-if="userAccessPerm('createCode')"></create-code>
  </div>
</div>
<script src="src/js/utilities.js"></script>
<script src="src/config/config.js"></script>
<script src="src/config/routes.js"></script>
<script src="src/js/components.js"></script>
<script src="src/js/navbar.js"></script>
<script src="src/js/code-records.js"></script>
<script src="src/js/github.js"></script>
<script type="text/javascript">

  /**
   * Creates the list of site records based on the environment. Every time the environment
   * changes via the environment selector, the search will update.
   */
  $(document).ready(function () {
    codeListing.initialize();
  });

  /**
   * Import component templates needed for this page.
   */
  const imports = ['message-area', 'listing', 'row', 'confirm-button', 'create-code'];
  imports.forEach(function(element) {
    link = document.querySelector('link[href="src/partials/' + element + '.html"]');
    content = link.import;
    el = content.querySelector('script');
    document.querySelector('body').appendChild(el.cloneNode(true));
  });

  /**
   * Vue instance for the code.html page.
   *
   * @type {Vue}
   */
  codeListing = new Vue({
    el: '#code-listing',
    data: {
      searchQuery: '',
      cachedRecords: [],
      gridData: [],
      callback: 'updateCodeRecord',
      editKeys: ['label', 'version', 'code_type', 'is_current', 'commit_hash', 'tag'],
      selectKeys: ['code_type', 'is_current', 'tag'],
      rowViewContent: {},
      messages: [],
    },
    created: function () {
      let that = this;

      bus.$on('switchEnv', function (env) {
        that.initialize();
      });

      // When a user tries to edit a site record, update data if etags don't match.
      bus.$on('etagFail', function (env) {
        that.etagFailListener(env, that);
      });

      bus.$on('updateCodeRecord', function (params) {
        updateCodeRecord(params);
      });

      bus.$on('deleteRecord', function (params) {
        updateCodeRecord(params, 'DELETE');
      });

      // Set anything that needs updated when in edit mode.
      bus.$on('rowEdit', function (row) {
        that.rowEditListener(row, that);
      });

      // Display whole record in view area.
      bus.$on('rowView', function (row) {
        that.rowViewListener(row, that);
      });

      bus.$on('rowHide', function (row) {
        that.rowHideListener(row, that);
      });

      // Refresh table data.
      bus.$on('navbarShow', function (component) {
        that.navbarShowListener(component, that);
      });
    },
    computed: {
      gridColumns: function () {
        return localStorage.getItem('code-keys') ? JSON.parse(localStorage.getItem('code-keys')) : store.state.codeKeys;
      },
    },
    methods: {
      initialize: function () {
        let that = this;

        getCodeRecords(store.state.atlasEnvironments[store.state.env])
          .then(data => that.gridData = data);

        // Get GitHub data to pass in.
        getGitHubRepos().then(function (repoList) {
          store.commit('addGitHubRepos', repoList);
        });
      },
      userAccessPerm: function (permission = null) {
        return userAccess(permission);
      },
      etagFailListener: function (env, that) {
        getCodeRecords(store.state.atlasEnvironments[env])
          .then(function (data) {
            codeListing.gridData = data;
          });
      },
      rowEditListener: function (row, that) {
        let options = {};

        // Add special edit content to the row key by key.
        row.editKeys.forEach(function (element, index) {
          // Get latest commit from GitHub repo.
          if (element === 'commit_hash') {
            getLatestCommit(row.data.name, row)
              .then(function (response) {
                options = {
                  rowId: row.data.id,
                  rowKey: element,
                  content: '<span><strong>Current Hash:</strong> ' + response.hash + '</span>'
                };
                store.commit('addEditContent', options);
              });
          } else {
            // Need to set other edit row options to nothing so they can render in component.
            options = {
              rowId: row.data.id,
              rowKey: element,
              content: ''
            };
            store.commit('addEditContent', options);
          }
        });
      },
      rowViewListener: function (row, that) {
        // Set temp variable for holding what was in the current table.
        // We can't used the cached data as that is a list of all the records.
        codeListing.tempGridData = codeListing.gridData;

        // Filter table to only show that record.
        codeListing.gridData = [row.oldData];

        // Make call to stats page to get full data to inject.
        fetch(store.state.atlasEnvironments[store.state.env] + 'code/' + row.data.id)
          .then(handleErrors)
          .then(response => response.json())
          .then(function (data) {
            codeListing.rowViewContent = data;
          })
          .catch(error => error);
      },
      rowHideListener: function (row, that) {
        // Filter table to only show that record.
        codeListing.gridData = codeListing.tempGridData;
        codeListing.rowViewContent = {};
      },
      navbarShowListener: function (component, that) {
        if (component === 'table') {
          that.initialize();
        }
      }
    }
  });
</script>
</body>
</html>
