<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlas Frontend</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      media="all" rel="stylesheet"/>
  <link href="src/css/env-dropdown.css" media="all" rel="stylesheet"/>

  <link rel="import" href="src/partials/navbar.html">
  <link rel="import" href="src/partials/listing.html">
  <link rel="import" href="src/partials/confirm-button.html">
</head>
<body>
<div id="atlas-navbar">
  <atlas-navbar
      :routes="routes"
      :environments="environments">
  </atlas-navbar>
</div>
<div id="app" class="container">
  <message-area id="alert" :messages="messages" v-if="messages.length > 0"></message-area>
  <div id="code-listing">
    <form id="search">
      <div class="form-group">
        <label for="query">Search</label>
        <input id="query" class="form-control" name="query"
               v-model="searchQuery"
               placeholder='{"node_other":{"$ne":"null"}}'>
      </div>
    </form>
    <listing
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery"
        :callback="callback"
        :edit-keys="editKeys"
        :select-keys="selectKeys">
    </listing>
  </div>
  <div id="create-code" class="row">
    <button v-if="!addCode" class="btn btn-default" @click="codeButton()">Add
      Code
    </button>
    <div v-if="addCode">
      <label for="addRepo">Select A Repo</label>
      <select name="addRepo" id="addRepo" @change="changeRepo($event)">
        <option v-for="(value, index) in repos" :value="index">
          {{value.name}}
        </option>
      </select>
      <!-- Second dropdown -->
      <div v-if="branchReady">
        <label for="addBranch">Select A Branch</label>
        <select name="addBranch" id="addBranch" @change="changeBranch($event)">
          <option v-for="(branch, index) in branches" :value="index">
            {{branch.name}}
          </option>
        </select>
        <label for="code_type">Code Type:</label>
        <select name="code_type" id="code_type" v-model="codeType">
          <option v-for="anOption in selectOptions.code_type" :value="anOption">
            {{anOption}}
          </option>
        </select>
        <label for="is_current">Is Current:</label>
        <select name="is_current" id="is_current" v-model="isCurrent">
          <option v-for="anOption in selectOptions.is_current" :value="anOption">
            {{anOption}}
          </option>
        </select>
        <label for="code_version">Code Version:</label>
        <input type="text" name="code_version" id="code_version"
               v-model="codeVersion">
        <label for="code_label">Code Label:</label>
        <input type="text" name="code_label" id="code_label"
               v-model="codeLabel">
      </div>
      <!-- End Second dropdown -->
      <button v-if="ready" class="btn btn-primary" @click="createCode()">Create
        Code Asset
      </button>
    </div>
  </div>
</div>
<script src="src/config/config.js"></script>
<script src="src/config/routes.js"></script>
<script src="src/js/utilities.js"></script>
<script src="src/js/navbar.js"></script>
<script src="src/js/code-listing.js"></script>
<script src="src/js/github.js"></script>
<script type="text/javascript">
  /**
   * Creates the list of site records based on the environment. Every time the environment
   * changes via the environment selector, the search will update.
   */
  $(document).ready(function () {

    getCodeRecords(siteConfig['atlasEnvironments'][localStorage.getItem('env')])
      .then(data => codeListing.gridData = data);

    // Get GitHub data to pass in.
    getGitHubRepos().then(function (repoList) {
      codeCreateButton.repos = repoList;
    });
  });
</script>
</body>
</html>
