<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlas Frontend</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      media="all" rel="stylesheet"/>
  <link href="src/css/env-dropdown.css" media="all" rel="stylesheet"/>
  <link href="src/css/autocomplete.css" media="all" rel="stylesheet"/>
  <link href="src/css/style.css" media="all" rel="stylesheet"/>

  <link rel="import" href="src/partials/navbar.html">
  <link rel="import" href="src/partials/listing.html">
  <link rel="import" href="src/partials/row.html">
  <link rel="import" href="src/partials/confirm-button.html">
  <link rel="import" href="src/partials/autocomplete-input.html">
  <link rel="import" href="src/partials/commands.html">
  <link rel="import" href="src/partials/stats-search.html">
  <link rel="import" href="src/partials/message-area.html">
</head>
<body>
<div id="atlas-navbar">
  <atlas-navbar
      :routes="routes"
      icons="sites"
      :environments="environments">
  </atlas-navbar>
</div>
<div class="page container">
  <div id="site-listing" class="row">
    <message-area></message-area>
    <transition name="slide-fade">
      <stats-search
          :filter="searchFilter"
          v-if="showStatsSearch">
      </stats-search>
    </transition>
    <transition name="slide-fade">
      <commands
          :grid-columns="gridColumns"
          v-if="showCommands">
      </commands>
    </transition>
    <form id="search" class="row">
      <div class="form-group">
        <label for="filter-records">Filter Table</label>
        <input id="filter-records" class="form-control" name="query"
               v-model="searchFilter">
      </div>
    </form>
    <div class="row">
      <listing
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchFilter"
          :edit-keys="editKeys"
          :select-keys="selectKeys"
          :extra-content="rowViewContent"
          :callback="callback">
      </listing>
    </div>
    <div class="row" id="create-site" v-if="userAccessPerm('createSite')">
      <confirm-button
          label="Create A Site"
          callback="createSite">
      </confirm-button>
    </div>
  </div>
</div>
<script src="src/js/utilities.js"></script>
<script src="src/config/config.js"></script>
<script src="src/config/routes.js"></script>
<script src="src/js/components.js"></script>
<script src="src/js/navbar.js"></script>
<script src="src/js/export-table.js"></script>
<script src="src/js/site-records.js"></script>
<script src="src/js/code-records.js"></script>
<script type="text/javascript">
  /**
   * Creates the list of site records based on the environment. Every time the environment
   * changes via the environment selector, the search will update.
   */
  jQuery(document).ready(function () {
    // Setup commands for select list.
    getAtlasCommands();

    // Grab search queries.
    getSearchQueries();

    siteListing.initialize();
  });

  /**
   * Import component templates needed for this page.
   */
  const imports = ['message-area', 'listing', 'row', 'autocomplete-input', 'confirm-button', 'commands', 'stats-search'];

  imports.forEach(function(element) {
    link = document.querySelector('link[href="src/partials/' + element + '.html"]');
    content = link.import;
    el = content.querySelector('script');
    document.querySelector('body').appendChild(el.cloneNode(true));
  });


  /**
   * Vue instance for the sites page.
   *
   * @type {Vue}
   */
  let siteListing = new Vue({
    el: '#site-listing',
    data: {
      searchFilter: '',
      sitesData: [],
      statsData: [],
      codeData: [],
      cachedRecords: [],
      editKeys: store.state.sitesEditKeys,
      selectKeys: ['status'],
      callback: 'updateSiteRecord',
      rowViewContent: {},
      showStatsSearch: true,
      showCommands: false,
    },
    created: function () {
      // Assign this to that in case needed in events.
      let that = this;

      bus.$on('sendCommand', function (params) {
        that.sendCommandListener(params, that);
      });

      bus.$on('switchEnv', function (env) {
        that.initialize();
      });

      // When a user tries to edit a site record, update data if etags don't match.
      bus.$on('etagFail', function (env) {
        that.etagFailListener(env, that);
      });

      bus.$on('updateSiteRecord', function (params) {
        updateSiteRecord(params);
      });

      bus.$on('deleteRecord', function (params) {
        updateSiteRecord(params, 'DELETE');
      });

      // Set anything that needs updated when in edit mode.
      bus.$on('rowEdit', function (row) {
        that.rowEditListener(row, that);
      });

      // Display whole record in view area.
      bus.$on('rowView', function (row) {
        that.rowViewListener(row, that);
      });

      // Hides record view and repopulates data table.
      bus.$on('rowHide', function (row) {
        that.rowHideListener(row, that);
      });

      // Show search when icon in navbar is clicked.
      // Also refresh table data.
      bus.$on('navbarShow', function (component) {
        that.navbarShowListener(component, that);
      });

      // Updates data table after site record data has been grabbed.
      // Currently adds code and stats records data.
      bus.$on('tableDataUpdate', function (siteRecords) {
        that.tableDataUpdateListener(siteRecords, that);
      });

      // Exports data in table when export button is clicked.
      bus.$on('exportTable', function (params) {
        that.exportTableListener(params, that);
      });

      // Exports data in table when export button is clicked.
      bus.$on('exportSiteContactEmail', function (params) {
        that.exportEmailsListener(params, that);
      });

      bus.$on('createSite', function (params) {
        createSite(params);
      });
    },
    computed: {
      gridColumns: function () {
        // Merge site and stats keys together.
        let siteKeys = localStorage.getItem('site-keys') ? JSON.parse(localStorage.getItem('site-keys')) : store.state.siteKeys;

        // Make stats empty if not saved since adding all of those keys makes the table unusable.
        let statsKeys = localStorage.getItem('stats-keys') ? JSON.parse(localStorage.getItem('stats-keys')) : [];

        return siteKeys.concat(statsKeys);
      },
      gridData: function () {
        return [].concat(this.sitesData, this.statsData, this.codeData);
      },
    },
    methods: {
      initialize: function () {
        // Make sure data table is empty.
        let that = this;
        this.sitesData = [];
        this.codeData = [];
        this.statsData = [];
        this.cachedRecords = [];

        getSiteRecords(store.state.atlasEnvironments[store.state.env])
          .then(function (data) {
            siteListing.sitesData = data;
            // Cache the result until the next request.
            siteListing.cachedRecords = data;

            // Hide any row if it was being viewed.
            siteListing.rowViewContent = {};

            // Emit event so other data can be added to the table.
            bus.$emit('tableDataUpdate', data);

            // This event fires for other components to know that the siteListing instance has been loaded.
            // While not ideal, the delay in making the Atlas request and setting up the data is usually enough time.
            // @todo use mounted() instead of this.
            bus.$emit('siteListingMounted', null);
          });

        // Setup commands for select list.
        getAtlasCommands();

        // Grab search queries.
        getSearchQueries();

        // If filter is in URL, then place that in filter input.
        // Check for query params.
        if (window.location.search !== "") {
          // Format the query params into an array.
          let queryParams = {};
          window.location.search.slice(1).split('&').map(function (item, index) {
            const parts = item.split('=');
            queryParams[parts[0]] = parts[1];
          });

          // Get property names to match to filter and search.
          const propertyNames = Object.getOwnPropertyNames(queryParams);

          if (propertyNames.indexOf('filter') !== -1) {
            that.searchFilter = queryParams.filter;
          }
        }
      },
      userAccessPerm: function (permission) {
        return userAccess(permission);
      },
      rowViewListener: function (row, that) {

        // Set temp variable for holding what was in the current table.
        // We can't used the cached data as that is a list of all the records.
        siteListing.tempGridData = siteListing.gridData;

        // Filter table to only show that record.
        that.sitesData = [row.oldData];
        that.statsData = [];
        that.codeData = [];

        // Make call to stats page to get full data to inject.
        fetch(store.state.atlasEnvironments[store.state.env] + 'statistics/' + row.data.statistics)
          .then(handleErrors)
          .then(response => response.json())
          .then(function (data) {
            siteListing.rowViewContent = data;
          })
          .catch(error => error);
      },
      sendCommandListener: function (params, that) {
        // Get site Ids to send.
        let siteIds = '"' + store.state.sitesSendCommand.join('","') + '"';
        let queryToSend = '{"path":{"$in":[' + siteIds + ']}}';

        // Convert to unicode.
        queryToSend = convertToUnicode(queryToSend);

        // Don't JSON encode since it escapes too much.
        let body = '{"query": "' + queryToSend + '"}';

        // Get command data for etag.
        let command = store.state.commands.filter(function (element, index) {
          return element._id === params.command;
        });

        atlasRequest(store.state.atlasEnvironments[store.state.env], 'commands/' + command[0]._id, query = '', 'PATCH', body, command[0]._etag);
      },
      etagFailListener: function (env, that) {
        getSiteRecords(store.state.atlasEnvironments[env])
          .then(function (data) {
            siteListing.gridData = data;
            // Cache the result until the next request.
            siteListing.cachedRecords = data;
          });
      },
      rowEditListener: function (row, that) {
        // Add special edit content to the row key by key.
        row.editKeys.forEach(function (element, index) {
          // Need to set edit row options to nothing so they can render in component.
          let options = {
            rowId: row.data.id,
            rowKey: element,
            content: ''
          };
          store.commit('addEditContent', options);
        });
      },
      rowHideListener: function (row, that) {
        // Filter table to only show that record.
        that.sitesData = siteListing.tempGridData;
        that.statsData = [];
        that.codeData = [];
        that.rowViewContent = {};
      },

      navbarShowListener: function (component, that) {
        if (component === 'statsSearch') {
          that.showStatsSearch = !that.showStatsSearch;
        }

        if (component === 'commands') {
          that.showCommands = !that.showCommands;
        }

        // Table means the data table and clicking the refresh icon.
        if (component === 'table') {
          that.initialize();
        }
      },
      tableDataUpdateListener: function (siteRecords, that) {
        // Update table with code data once site records have been loaded.
        let baseURL = store.state.atlasEnvironments[store.state.env];
        getCodeRecords(baseURL)
          .then(function (codeRecords) {
            addCodeToSites(siteRecords, codeRecords);
          })
          .catch(error => console.log(error));

        // Update with stats data.
        getStatsRecords(siteRecords, baseURL)
          .then(function (statsRecords) {
            addStatsToSites(siteRecords, statsRecords);
          })
          .catch(error => console.log(error));
      },
      exportTableListener: function (params, that) {
        let rows = store.state.filteredData;
        let columns = params.columns;
        let headers = {};

        // Filter rows to only have keys visible in table.
        let exportData = rows.map(function (item) {
          let returnItem = {};
          columns.forEach(function (element, index) {

            // Need to join arrays with different value than comma.
            if (Array.isArray(item[element])) {
              item[element] = item[element].join('|');
            }
            // If item is still an object, then we need to do more work.
            else if (typeof item[element] === "object") {
              let mrString = '';
              for (thing in item[element]) {
                mrString = mrString + '|' + thing + ':' + item[element][thing];
              }
              item[element] = mrString;
            }
            // Strings can have commas.
            else if (typeof item[element] === 'string') {
              item[element] = item[element].replace(new RegExp(',', 'g'), '|');
            }

            returnItem[element] = item[element];

            // Also make columns into header objects.
            headers[element] = element;
          });
          return returnItem;
        });

        // Export to CSV file.
        exportCSVFile(headers, exportData, 'report');
      },
      exportEmailsListener: function (params, that) {

        // Reduce number of emails into one list.
        let allEmails = [];
        let exportData = store.state.filteredData.map(function (item) {
          allEmails.push(item.site_contacts);
        });

        // The final email list will not have duplicates.
        let finalEmails = [];
        allEmails.forEach(function (el, index) {

          // If undefined, then just continue loop.
          if (typeof el === 'undefined') {
            return null;
          }

          // All items should be arrays so we need to also loop through those items.
          if (Array.isArray(el)) {
            el.forEach(function (part, index2) {
              // We need to lowercase and strip text since emails are weird and can have both
              // lowercase and uppercase versions.
              if (finalEmails.indexOf(part.toLowerCase().trim()) === -1) {
                finalEmails.push(part.toLowerCase().trim());
              }
            });
          }
        });

        // Export to text file.
        exportTextFile(finalEmails, 'siteContactEmails');
      }
    }
  });
</script>
</body>
</html>
