<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlas Frontend</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      media="all" rel="stylesheet"/>
  <link href="src/css/env-dropdown.css" media="all" rel="stylesheet"/>
  <link href="src/css/autocomplete.css" media="all" rel="stylesheet"/>

  <link rel="import" href="src/partials/navbar.html">
  <link rel="import" href="src/partials/listing.html">
  <link rel="import" href="src/partials/row.html">
  <link rel="import" href="src/partials/confirm-button.html">
  <link rel="import" href="src/partials/autocomplete-input.html">
</head>
<body>
<div id="atlas-navbar">
  <atlas-navbar
      :routes="routes"
      :environments="environments">
  </atlas-navbar>
</div>
<div class="page container">
  <message-area id="alert" :messages="messages" v-if="messages.length > 0"></message-area>
  <div id="site-listing" class="row">
    <form id="statsSearch" class="row">
      <div class="form-group row">
        <div class="col-md-6">
          <label for="query-mongo">Query</label>
          <autocomplete-input
              id="query-mongo"
              :options="statsQueryOptions"
              the-key="query"
              :model="statsQuery">
          </autocomplete-input>
        </div>
        <div class="col-md-6">
        <label for="query-name">Query Name</label>
        <autocomplete-input
            id="query-name"
            :options="statsQueryOptions"
            the-key="title"
            :model="statsQueryName">
        </autocomplete-input>
        </div>
      </div>
      <div class="form-group row col-md-6">
        <button class="btn btn-primary" @click.prevent="search()">Search</button>
        <button class="btn btn-default" v-if="reset" @click.prevent="resetSearch()">Reset</button>
      </div>
    </form>
    <form id="search" class="row">
      <div class="form-group">
        <label for="filter-records">Filter Table</label>
        <input id="filter-records" class="form-control" name="query"
               v-model="searchQuery">
      </div>
    </form>
    <div class="row">
      <listing
          :data="gridData"
          :columns="gridColumns"
          :filter-key="searchQuery"
          :edit-keys="editKeys"
          :select-keys="selectKeys"
          :callback="callback">
      </listing>
    </div>
  </div>
  <div id="create-site" class="row">
    <confirm-button
        :label="label"
        :callback="callback">
    </confirm-button>
  </div>
</div>
<script src="src/config/config.js"></script>
<script src="src/config/routes.js"></script>
<script src="src/js/utilities.js"></script>
<script src="src/js/components.js"></script>
<script src="src/js/navbar.js"></script>
<script src="src/js/site-records.js"></script>
<script src="src/js/code-records.js"></script>
<script type="text/javascript">
  /**
   * Imports Site Listing HTML into DOM of pages using it.
   *
   * @type {Element}
   */
  link = document.querySelector('link[href="src/partials/listing.html"]');
  content = link.import;
  el = content.querySelector('script');
  document.querySelector('body').appendChild(el.cloneNode(true));

  link = document.querySelector('link[href="src/partials/row.html"]');
  content = link.import;
  el = content.querySelector('script');
  document.querySelector('body').appendChild(el.cloneNode(true));

  link = document.querySelector('link[href="src/partials/autocomplete-input.html"]');
  content = link.import;
  el = content.querySelector('script');
  document.querySelector('body').appendChild(el.cloneNode(true));

  /**
   * Imports Button HTML into DOM of pages using it.
   *
   * @type {Element}
   */
  link = document.querySelector('link[href="src/partials/confirm-button.html"]');
  content = link.import;
  el = content.querySelector('script');
  document.querySelector('body').appendChild(el.cloneNode(true));

  // Place site data in table via site-listing template located in site-listing.html.
  let siteListing = new Vue({
    el: '#site-listing',
    data: {
      searchQuery: '',
      statsQuery: '',
      statsQueryOptions: store.state.statsQueryOptions,
      statsQueryName: '',
      gridData: [],
      cachedRecords: [],
      editKeys: ['path', 'status'],
      selectKeys: ['status'],
      callback: 'updateSiteRecord',
      reset: false
    },
    created: function () {
      bus.$on('switchEnv', function (env) {
        getSiteRecords(siteConfig.atlasEnvironments[env])
          .then(function (data) {
            siteListing.gridData = data
            // Cache the result until the next request.
            siteListing.cachedRecords = data
          })
      })

      // When a user tries to edit a site record, update data if etags don't match.
      bus.$on('etagFail', function (env) {
        getSiteRecords(siteConfig.atlasEnvironments[env])
          .then(function (data) {
            siteListing.gridData = data
            // Cache the result until the next request.
            siteListing.cachedRecords = data
          })
      })

      bus.$on('updateSiteRecord', function (params) {
        updateSiteRecord(params);
      });

      bus.$on('deleteRecord', function (params) {
        updateSiteRecord(params, 'DELETE');
      });

      // Set anything that needs updated when in edit mode.
      bus.$on('rowEdit', function (row) {
        // Add special edit content to the row key by key.
        row.editKeys.forEach(function (element, index) {
          // Need to set edit row options to nothing so they can render in component.
          let options = {
            rowId: row.data.id,
            rowKey: element,
            content: ''
          }
          store.commit('addEditContent', options)
        })
      })

      // Listen for autocomplete selections and match both inputs.
      bus.$on('select', function (params) {

        // Since we know that we have queries and titles, we can check the key and
        // make the opposite property match what the user selected.
        if (params.key === 'title') {
          let params2 = {
            keyword: params.selectedOption.query,
            key: 'query'
          }
          bus.$emit('matchKeys', params2)
        } else {
          let params2 = {
            keyword: params.selectedOption.title,
            key: 'title'
          }
          bus.$emit('matchKeys', params2)
        }
      })
    },
    computed: {
      showReset: function () {
        return siteListing.reset;
      },
      gridColumns: function () {
        return localStorage.getItem('site-keys') ? JSON.parse(localStorage.getItem('site-keys')) : store.state.siteKeys
      }
    },
    watch: {
      // Update table with code data once site records have been loaded.
      gridData: function (siteRecords) {
        getCodeRecords(siteConfig.atlasEnvironments[localStorage.getItem('env')])
          .then(function (codeRecords) {
            addCodeToSites(siteRecords, codeRecords)
          });
      }
    },
    methods: {
      search: function () {

        // Grab keyword to search for.
        let query = null
        this.$children.forEach(function (element, index) {
          if (element.theKey === 'query') {
            query = element.keyword
          }
        })

        // If no query, then emit an error message and return.
        if (query === null) {
          bus.$emit('onMessage', {
            text: 'No query found.',
            alertType: 'alert-danger'
          });
          return
        }

        // Make request to Atlas.
        let baseURL = siteConfig['atlasEnvironments'][localStorage.getItem('env')];
        let response = atlasRequest(baseURL, 'statistics', '?where=' + query);

        // Response is a Promise object so we must resolve it to get the data out.
        response.then(function (objects) {

          // Get array only of site IDs to check from stats query.
          let siteIds = [];
          objects.forEach(function (elements, index) {
            elements.forEach(function (element, index) {
              siteIds.push(element['site']);
            });
          });

          // Filter results by using the site ID stored in stats records.
          let queryResult = siteListing.cachedRecords.filter(function (row) {
            return siteIds.indexOf(row['id']) > -1
          });

          // By setting the gridData property, the view will automatically update.
          siteListing.gridData = queryResult;
          siteListing.reset = true;
        });
      },
      resetSearch: function () {
        // Reset keywords in child components.
        this.$children.forEach(function (element, index) {
          if (typeof element.keyword !== 'undefined') {
            element.keyword = ''
          }
        })

        // By using the cached results when the page is loaded, the query can be reverted.
        siteListing.gridData = siteListing.cachedRecords;
        siteListing.searchQuery = '';
        siteListing.reset = false;
      }
    }
  });

  // Add create a site button to page.
  let siteCreateButton = new Vue({
    el: '#create-site',
    data: {
      label: 'Create A Site',
      callback: 'createSite',
    },
    created: function () {
      bus.$on('createSite', function (params) {
        createSite(params);
      });
    }
  });

  /**
   * Creates the list of site records based on the environment. Every time the environment
   * changes via the environment selector, the search will update.
   */
  $(document).ready(function () {
    let cachedRecords = {};
    getSiteRecords(siteConfig['atlasEnvironments'][localStorage.getItem('env')])
      .then(function (data) {
        siteListing.gridData = data;
        // Cache the result until the next request.
        siteListing.cachedRecords = data;
      });
  });
</script>
</body>
</html>
