<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlas Frontend</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all" rel="stylesheet"/>
  <link href="src/css/env-dropdown.css" media="all" rel="stylesheet"/>

  <link rel="import" href="src/partials/navbar.html">
</head>
<body>
<div id="atlas-navbar">
  <atlas-navbar
      :routes="routes"
      :environments="environments">
  </atlas-navbar>
</div>
<div class="container">
  <message-area id="alert" :messages="messages" v-if="messages.length > 0"></message-area>
  <div id="user-settings">
    <form>
      <fieldset class="form-group">
        <label for="username">Atlas Username</label>
        <input type="text" id="username" class="form-control" name="username" v-model="username">
        <label for="password">Atlas Password</label>
        <input type="password" id="password" class="form-control" name="password" v-model="password">
      </fieldset>
      <fieldset class="form-group">
        <label for="base-url">Base URL</label>
        <input type="text" id="base-url" class="form-control" name="host" v-model="baseURL">
        <p class="form-text text-muted">
          If you have this application in sub-directory of your virtual host, then add with beginning slash, e.g "/shrugger".
          If you have this application at the root-level, then leave blank.
        </p>
      </fieldset>
      <fieldset class="form-group">
        <label for="github-username">GitHub Username</label>
        <input type="text" id="github-username" class="form-control" name="github-username" v-model="gitHub.username">
        <label for="github-token">GitHub Token</label>
        <input type="text" id="github-token" class="form-control" name="github-token" v-model="gitHub.token">
        <p class="form-text text-muted">
          Need to setup
          <a href="https://github.com/settings/tokens">https://github.com/settings/tokens</a> under Personal access tokens.
        </p>
      </fieldset>
      <fieldset class="form-group">
        <label for="sites-query">Sites Query</label>
        <input type="text" id="sites-query" class="form-control" name="sites-query" v-model="sitesQuery">
        <label for="code-query">Code Query</label>
        <input type="text" id="code-query" class="form-control" name="code-query" v-model="codeQuery">
      </fieldset>
      <fieldset class="form-group">
        <h4>Repositories Listing</h4>
        <p class="form-text text-muted">
          You can choose to have the repository list for creating code be chronologically by updated date instead of alphabetically.
        </p>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="chronological" v-model="repoListing">
            Chronological
          </label>
        </div>
        <h4>Site Record Keys</h4>
        <p class="form-text text-muted">
          Choose which keys you want to include in the site record listing.
        </p>
        <div class="form-check checkbox-inline" v-for="key in siteKeys">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" :id="'site-' + key" :value="key" v-model="saveSiteKeys">
            {{key}}
          </label>
        </div>
        <h4>Code Record Keys</h4>
        <p class="form-text text-muted">
          Choose which keys you want to include in the code record listing.
        </p>
        <div class="form-check checkbox-inline" v-for="key in codeKeys">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" :id="'site-' + key" :value="key" v-model="saveCodeKeys">
            {{key}}
          </label>
        </div>

      </fieldset>
      <button @click="saveCreds()" type="button" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
<script src="src/config/config.js"></script>
<script src="src/config/routes.js"></script>
<script src="src/js/utilities.js"></script>
<script src="src/js/components.js"></script>
<script src="src/js/navbar.js"></script>
<script type="text/javascript">

  let settingsForm = new Vue({
    el: '#user-settings',
    data: {
      username: localStorage.getItem('atlas-username'),
      password: localStorage.getItem('atlas-password'),
      baseURL: localStorage.getItem('baseURL'),
      gitHub: {
        username: localStorage.getItem('github-username'),
        token: localStorage.getItem('github-token')
      },
      sitesQuery: localStorage.getItem('sites-query'),
      codeQuery: localStorage.getItem('code-query'),
      repoListing: localStorage.getItem('repo-listing') ? JSON.parse(localStorage.getItem('repo-listing')) : false,
      saveSiteKeys: localStorage.getItem('site-keys') ? JSON.parse(localStorage.getItem('site-keys')) : [],
      saveCodeKeys: localStorage.getItem('code-keys') ? JSON.parse(localStorage.getItem('code-keys')): []
    },
    computed: {
      siteKeys: function () {
        return store.state.siteKeys
      },
      codeKeys: function () {
        return store.state.codeKeys
      }
    },
    methods: {
      saveCreds: function () {
        localStorage.setItem('atlas-username', this.username);
        localStorage.setItem('atlas-password', this.password);
        localStorage.setItem('baseURL', this.baseURL);
        localStorage.setItem('github-username', this.gitHub.username);
        localStorage.setItem('github-token', this.gitHub.token);
        localStorage.setItem('sites-query', this.sitesQuery);
        localStorage.setItem('code-query', this.codeQuery);
        localStorage.setItem('repo-listing', JSON.stringify(this.repoListing));
        localStorage.setItem('code-keys', JSON.stringify(this.saveCodeKeys));
        localStorage.setItem('site-keys', JSON.stringify(this.saveSiteKeys));

        // Send success message.
        bus.$emit('onMessage', {text: 'Successfully saved settings.', alertType:'alert-success'});
      }
    }
  });
</script>
</body>
</html>
