<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atlas Frontend</title>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all" rel="stylesheet"/>
  <link href="src/css/env-dropdown.css" media="all" rel="stylesheet"/>

  <link rel="import" href="src/partials/navbar.html">
  <link rel="import" href="src/partials/listing.html">
  <link rel="import" href="src/partials/confirm-button.html">
</head>
<body>
<div id="atlas-navbar">
  <atlas-navbar
     :routes="routes"
     :environments="environments">
  </atlas-navbar>
</div>
<div id="list-full-sites" class="container">
  <message-area id="alert" :message="message" :class="alertType" class="alert" v-if="message.length > 0"></message-area>
  <form id="search" class="row">
    <div class="form-group">
      <label for="querySites">Search</label>
      <input id="querySites" class="form-control" name="querySites"
             v-model="siteQuery" placeholder="?where={&#34;code.package&#34;:&#34;5939629989b0dc0e497e35ad&#34;}">
    </div>
    <div class="form-group">
      <button class="btn btn-info" @click.prevent="getSites(siteQuery)">Query sites</button>
    </div>
  </form>

  <div class="form-group">
    <label for="packages-to-remove" id="remove-packages">Remove Packages</label>
    <select multiple class="form-control" id="packages-to-add" v-model="removePackages" style="height:300px;">
      <option disabled selected value> -- select an option -- </option>
      <template v-for="package in sites._items">
        <option :value="index" v-if="package.code.package != null" v-for="(index, val) in package.code.package">
          {{codeName(index)}}: {{index}}
        </option>
      </template>
    </select>
    <label for="packages-to-add" id="add-packages">Add Packages</label>
    <select multiple class="form-control" id="packages-to-remove" v-model="updatePackages" style="height:300px;">
      <option disabled selected value> -- select an option -- </option>
      <template v-for="code in codes._items" v-if="code.meta.code_type !== 'core'">
        <option :value="code._id" v-if="code.meta.code_type !== 'profile'">
          <span><strong>{{code.meta.label}}</strong> (name: {{code.meta.name}}) (id: {{code._id}})</span>
        </option>
      </template>
    </select>
  </div>

  <div class="form-group">
    <h3>Sites patched with this update:</h3>
    <ul v-for="site in sites._items">
      <li>{{site.sid}}</li>
    </ul>

  </div>
  <button class="btn btn-primary" id="update-packages" @click="sendToAtlas">Update Packages</button>
  <p></p>
</div>

<script src="src/config/config.js"></script>
<script src="src/config/routes.js"></script>
<script src="src/js/utilities.js"></script>
<script src="src/js/components.js"></script>
<script src="src/js/navbar.js"></script>
<script src="src/js/update-sites.js"></script>
</body>
</html>
