<!-- component template -->
<script type="text/x-template" id="autocomplete-input">
  <div class="autocomplete-input">
    <input class="form-control"
           @input="onInput($event.target.value)"
           @keyup.esc="isOpen = false"
           @blur="isOpen = false"
           @keydown.down="moveDown"
           @keydown.up="moveUp"
           @keydown.enter="select"
           v-model="keyword">
    <ul class="options-list" v-show="isOpen">
      <li v-for="(option, index) in fOptions"
          @mouseenter="highlightedPosition = index"
          @mousedown="select"
          :class="{'highlighted': index === highlightedPosition}">
        {{ option[theKey] }}
      </li>
    </ul>
  </div>
</script>
