<!-- component template -->
<script type="text/x-template" id="commands">
<form id="commandsForm" class="row">
  <div v-if="userAccessPerm('commands:command')" class="col-md-6">
    <label for="sendCommand">Select Command</label>
    <select name="sendCommand" id="sendCommand" v-model="selectedCommand">
      <option v-for="(value, index) in commands" :value="value._id">
        {{value.name}}
      </option>
    </select>
    <div class="commands-button">
      <confirm-button
          label="Send Command"
          :params="{command: selectedCommand}"
          callback="sendCommand">
      </confirm-button>
    </div>
  </div>
  <div class="export-button col-md-6" v-if="userAccessPerm('commands:export')">
    <select name="export-list" v-model="exportCallback">
      <option v-for="report in reportsList" :value="report">{{report}}</option>
    </select>
    <confirm-button
        label="Export Table"
        :params="{columns: gridColumns}"
        :callback="exportCallback">
    </confirm-button>
  </div>
</form>
</script>
