<!-- component template -->
<script type="text/x-template" id="listing">
  <div class="lisitng-wrapper">
    <div class="result-count">Result Count: {{resultCount}}</div>
    <div v-if="noResults">
      <div class="alert alert-info">Your query returned no results.</div>
    </div>
    <table class="table table-responsive">
      <thead>
      <tr>
        <th>
          <input type="checkbox"
                 id="select-all-checkbox"
                 name="select-all-checkbox"
                 value="checked"
                 @change="selectAll()"
                 v-model="allChecked">
        </th>
        <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <row v-for="(data2, index) in dataObjects"
           v-if="showRow(index)"
           :data="data2"
           :key="data2.id"
           :old-data="filteredData[index]"
           :edit-keys="editKeys"
           :select-keys="selectKeys"
           :all-checked="allChecked"
           :callback="callback"
           :columns="columns">
      </row>
      </tbody>
      <!-- Show More Records Links -->
      <div v-if="resultCount > showRowCount">
        <button class="btn btn-default" @click="showMore()" aria-label="Show More">Show More</button>
        <button class="btn btn-default" @click="showAll()" aria-label="Show All">Show All</button>
      </div>
    </table>
    <div v-if="Object.keys(extraContent).length > 0">
      <pre>
        {{extraContent}}
      </pre>
    </div>
  </div>
</script>
