<!-- component template -->
<script type="text/x-template" id="listing">
  <div class="lisitng-wrapper">
    <div class="result-count">Result Count: {{resultCount}}</div>
    <div v-if="noResults">
      <div class="alert alert-info">Your query returned no results.</div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <row v-for="(data2, index) in dataObjects"
           v-if="showRow(index)"
           :data="data2"
           :key="data2.id"
           :old-data="filteredData[index]"
           :edit-keys="editKeys"
           :select-keys="selectKeys"
           :callback="callback"
           :columns="columns">
      </row>
      </tbody>
      <!-- Show More Records Links -->
      <div v-if="resultCount > showRowCount">
        <button @click="showMore()">Show More</button>
        <button @click="showAll()">Show All</button>
      </div>
    </table>
  </div>
</script>
